/* Reset */
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

a, img, button, input {
  display: block;
}

a, img, button {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

button:focus, input:focus {
  outline: none;
}

/* Variables */
/* Mixings */
/* Main Setting */
.container {
  position: relative;
  width: 1005px;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  overflow: hidden;
}

.header-text {
  padding: 4px 0;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  background-color: #000;
  border-top: 5px solid #21CA1D;
  border-bottom: 5px solid #21CA1D;
  text-align: right;
  width: 118%;
}

.logo-row {
  padding: 38px 0;
  background-image: url("../imgs/block_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.logo-row .elips {
  position: absolute;
  width: 69.64%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.logo {
  position: relative;
  z-index: 2;
  width: 27.8%;
  margin: auto;
}

nav {
  width: 100%;
  background: linear-gradient(89.98deg, #AE8625 0.02%, #F7EF8A 44.28%, #D2AC47 69.79%, #F4D63B 99.99%);
  position: relative;
  z-index: 2;
}

.navbar {
  width: 100%;
  padding: 16px 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin: 0 24px;
  color: #000;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
.menu-item:hover {
  color: #D90101;
  border-bottom: 1px solid #D90101;
}